@import "tailwindcss";

:root {
  --primary: #fa5252;
  --primary-gradient-from: #fa5252;
  --primary-gradient-to: #dd2476;
  --foreground: #212425;
  --background: #f3f6f6;
  --text-color: #212425;
  --text-color-light: #a6a6a6;
  --white: #ffffff;
}

.dark {
  --primary: #fa5252;
  --primary-gradient-from: #fa5252;
  --primary-gradient-to: #dd2476;
  --foreground: #a6a6a6;
  --background: #121212;
  --text-color: #a6a6a6;
  --text-color-light: #555555;
  --white: #ffffff;
}

/* Tailwind ile uyumlu hale getirmek için basit sınıflar */
.bg-primary {
  background: linear-gradient(
    to right,
    var(--primary-gradient-from),
    var(--primary-gradient-to)
  );
}

.text-primary {
  color: var(--primary);
}

.text-foreground {
  color: var(--foreground);
}

.bg-background {
  background-color: var(--background);
}

.text-white {
  color: var(--white);
}
